VITE_API_URL=http://localhost:5000/api/v1
VITE_RAZORPAY_KEY_ID=rzp_test_your_key_here
VITE_APPWRITE_PROJECT_ID=69b448c400190bca1da8
VITE_APPWRITE_PROJECT_NAME=cncmarket
VITE_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
